spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  config:
    import: "classpath:/egovframework/egovProps/globals.properties"
  servlet:
    multipart:
      enabled: true

server:
  servlet:
    encoding:
      charset: UTF-8
      force: true
